<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Finder</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <a href="/">
            <img id="logo" src="/images/logo.png" alt="logo">
        </a>

        <form id="search-form" action="./search" method="post">
            <input id="search" type="text" placeholder="Anime title" name="search">
            <input id="search-btn" type="submit" name="search-btn" value="Search">
        </form>


    </header>